#editpage {
  background-color: white;
  margin: auto;
  width: 300px;
  padding: 5px;
  display: block;
}

#textareaInput {
  margin-top:5px;
  flex-wrap: wrap;
  width: 290px;
  resize: none;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

button{
    margin: 5px;
}
