<link rel="stylesheet" href="app.component.scss" />

<table class="center">
  <thead>
  <th id="thNr">Nr.</th>
  <th id="thNotat">Notat</th>
  <th id="thButton"><button (click)="initNewToDo()" class="tableBTN">Opret ny notat</button></th>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todolist">
      <td>{{todo.id}}</td>
      <td>{{ todo.note }}</td>
      <td><button (click)="editToDo(todo)" class="tableBTN">Redigere</button></td>
    </tr>
  </tbody>
</table>

<app-edit-todo [todo]="todoToEdit" (todosUpdated)="updateToDoList($event)"></app-edit-todo>

